body{
    background-color: #212121;
    color: black;
}
.searchbox{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.searchbox:hover > .searchtext{
    width:240;
    pading: 0 0;
}
.searchbtn{
    color: #2c3e50;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchtext{
    border: none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: black;
    font-size: 15px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}
